RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteRule ^.*^$ - [NC,L]

RewriteRule index.html index.php?module=frontend&controller=index&action=index
RewriteRule book-list.html index.php?module=frontend&controller=book&action=list
RewriteRule login.html index.php?module=frontend&controller=user&action=login
RewriteRule register.html index.php?module=frontend&controller=user&action=register
RewriteRule cart.html index.php?module=frontend&controller=user&action=cart
RewriteRule history.html index.php?module=frontend&controller=user&action=history

RewriteRule ([A-Za-z0-9_-]+)-([0-9]+)\.html index.php?module=frontend&controller=book&action=list&category_id=$2

RewriteRule ([A-Za-z0-9_-]+)/([A-Za-z0-9_-]+)-([0-9]+)-([0-9]+)\.html index.php?module=frontend&controller=book&action=bookInfo&category_id=$3&book_id=$4



RewriteRule danh-muc-quan-ly.html index.php?module=backend&controller=dashboard&action=index
RewriteRule quan-ly-nhom-nguoi-dung.html index.php?module=backend&controller=group&action=index
RewriteRule quan-ly-nguoi-dung.html index.php?module=backend&controller=user&action=index
RewriteRule quan-ly-danh-muc-sach.html index.php?module=backend&controller=category&action=index
RewriteRule quan-ly-sach.html index.php?module=backend&controller=book&action=index
RewriteRule quan-ly-don-hang.html index.php?module=backend&controller=order&action=index

RewriteRule them-moi-nhom-nguoi-dung.html index.php?module=backend&controller=group&action=form
RewriteRule them-moi-nguoi-dung.html index.php?module=backend&controller=user&action=form
RewriteRule them-moi-danh-muc-sach.html index.php?module=backend&controller=category&action=form
RewriteRule them-moi-sach.html index.php?module=backend&controller=book&action=form

RewriteRule chinh-sua-nhom-nguoi-dung/([0-9]+)\.html index.php?module=backend&controller=group&action=form&id=$1
RewriteRule chinh-sua-nguoi-dung/([0-9]+)\.html index.php?module=backend&controller=user&action=form&id=$1
RewriteRule chinh-sua-danh-muc-sach/([0-9]+)\.html index.php?module=backend&controller=category&action=form&id=$1
RewriteRule chinh-sua-sach/([0-9]+)\.html index.php?module=backend&controller=book&action=form&id=$1